<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

	<!-- 共通の設定 -->
	<property name="LOG_PATTERN"
		value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n" />

	<!-- === dev プロファイル用設定 === -->
	<springProfile name="dev">
		<appender name="CONSOLE"
			class="ch.qos.logback.core.ConsoleAppender">
			<encoder>
				<pattern>${LOG_PATTERN}</pattern>
				<charset>UTF-8</charset>
			</encoder>
		</appender>

		<root level="INFO">
			<appender-ref ref="CONSOLE" />
		</root>
	</springProfile>

	<springProfile name="test">
		<appender name="CONSOLE"
			class="ch.qos.logback.core.ConsoleAppender">
			<encoder>
				<pattern>${LOG_PATTERN}</pattern>
				<charset>UTF-8</charset>
			</encoder>
		</appender>

		<root level="DEBUG">
			<appender-ref ref="CONSOLE" />
		</root>
	</springProfile>
	<!-- === prod プロファイル用設定 === -->
	<springProfile name="prod">
		<appender name="CONSOLE"
			class="ch.qos.logback.core.ConsoleAppender">
			<encoder>
				<pattern>${LOG_PATTERN}</pattern>
				<charset>UTF-8</charset>
			</encoder>
		</appender>

		<root level="DEBUG">
			<appender-ref ref="CONSOLE" />
		</root>
	</springProfile>
</configuration>